[merge]
	tool = p4merge
[mergetool "p4merge"]
	path = /Applications/p4merge.app/Contents/Resources/launchp4merge
[user]
	name = John Hannagan
	email = weetbix_@hotmail.com
[alias]
	amend = commit --amend
  pr = "!f() { open "https://github.com/rebilly/$(basename "$(git rev-parse --show-toplevel)")/pull/new/$(git rev-parse --abbrev-ref HEAD)"; };f"
[help]
	autocorrect = 25
[rerere]
	enabled = 1
[pull]
	ff = only
[init]
	defaultBranch = main
